#createContainer.container-search.animated.fadeInRight.hidden
  div(style="font-size:18pt;text-align:center;") Hooray 🎉 a new customer!
  form(name="createForm")
    md-input-container.md-block
      label Phone Number
      input#phoneInput(name="phone" ng-model="newCustomer.phone" 
      ng-pattern="/^[0-9]{10}$/" 
      required md-no-asterisk)
      .errors(ng-messages="createForm.phone.$error")
        div(ng-message="required") Please enter a value for this field.
        div(ng-message="pattern") ########## - Please enter a valid phone number.
    md-input-container.md-block
      label Address
      input#addressInput(name="address" ng-model="newCustomer.address" 
      ng-pattern="/(^\\d+\\s[a-zA-Z]+\\s[a-zA-Z]+)$/")
      .errors(ng-messages="createForm.address.$error")
        div(ng-message="pattern") Please enter a valid Address.   
    #citySelect.customer-field
      div(ng-repeat="city in cities")
        button.btn.btn-city(
        ng-class="{ 'btn-outline-{{getCityColorByIndex($index)}}': true,\
        '{{ getCityColorByIndex($index) }}' : hover || cityButtonStates[$index], 'btn-city-selected' : cityButtonStates[$index] }"
        ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
        ng-click="selectCity($index, cities);") {{ city }}
    md-input-container.md-block
      label Cross Street
      input#crossInput(name="cross" ng-model="selected.cross")
    md-input-container.md-block
      label Customer Notes
      textarea#noteInput(ng-model="newCustomer.note" md-maxlength="150" rows="3" md-select-on-focus="")
    button#createButton.btn.red.darken-2(ng-click="createCustomer()") Create!
