#editContainer.container-search.animated.fadeInRight.hidden
  .header.animated
    | {{ headers.edit[randomIndex] }}
  form(name="editForm")
    md-button.button-back.md-icon-button.md-accent(aria-label="Back" ng-click="hideContainer()")
      i.material-icons arrow_back
    md-chips(ng-model="selected.phone" name="phoneNumbers" 
    readonly="chips.readonly" md-removable="chips.removable" 
    md-max-chips="chips.max" md-transform-chip="validateChip($chip, 'phone')"
    md-on-add="inputToInteger('edit')" md-add-on-blur="true"
    md-separator-keys="chips.keys" placeholder="Add a phone number...") 
    .errors(ng-messages="editForm.phoneNumbers.$error")
      div(ng-message="md-max-chips") Maximum number of phone numbers reached.
      div(ng-show="selected.phone.length === 0") Customer must have at least one phone number.
    md-input-container.md-block(style="margin-top:50px;")
      md-icon.material-icons.place place
      label Address
      input#addressInput(name="address" ng-model="selected.address" 
      ng-pattern="/(^\\d+\\s[a-zA-Z]+\\s.+)/")
      .errors(ng-messages="editForm.address.$error")
        div(ng-message="pattern") Please enter a valid Address.
    #citySelect.customer-field
      div(ng-repeat="city in cities")
        button.btn.btn-city(
        ng-class="{ 'btn-outline-{{getCityColorByIndex($index)}}': true,\
        '{{ getCityColorByIndex($index) }}' : hover || cityButtonStates[$index], 'btn-city-selected' : cityButtonStates[$index] }"
        ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
        ng-click="selectCity($index, cities, 'edit');") {{ city }}
    md-input-container.md-block
      md-icon.material-icons.map map
      label Cross Street
      input#crossInput(name="cross" ng-model="selected.cross")
    md-input-container.md-block
      md-icon.material-icons.description description
      label Customer Notes
      textarea#noteInput(ng-model="selected.note" md-maxlength="150" max-rows="3" md-select-on-focus="")
    div(layout="row" layout-md="column")
      md-input-container.grow-1.margin-name
        md-icon.material-icons.name person
        label Name
        input#nameInput.black-text(name="name" ng-model="selected.name")
      md-input-container.grow-2
        label Account Type
        md-select(ng-model="selected.type" [value]="selected.type")
          md-option#accountSelect(ng-repeat="type in accountTypes" value="{{ type }}") {{type}}
    md-input-container.md-block
      md-icon.material-icons.email email
      input#emailInput(name="email" ng-model="selected.email" type="email"
      placeholder="michael@pizzaface.com" ng-pattern="/^.+@.+\..+$/")
      .errors(ng-messages="editForm.email.$error")
        div(ng-message="pattern") Customer email must look like an email address.
    .text-center
      button#editButton.btn.green.darken-2.animated(ng-click="editCustomer()") Edit Customer!
