#editContainer.container-search.animated.fadeInRight.hidden
  .header
    | {{ headers.edit[randomIndex] }}
  form(name="editForm")
    md-chips(ng-model="selected.phone" name="phoneNumbers" 
    readonly="chips.readonly" md-removable="chips.removable" 
    md-max-chips="3" md-transform-chip="validateChip($chip, 'phone')"
    md-on-add="logSelected()" md-add-on-blur="true"
    md-separator-keys="chips.keys" placeholder="Add a phone number...") 
    .errors(ng-messages="editForm.phoneNumbers.$error")
      div(ng-message="md-max-chips") Maximum number of phone numbers reached.
      div(ng-show="selected.phone.length === 0") Customer must have at least one phone number.
    md-input-container.md-block(style="margin-top:50px;")
      label Address
      input#addressInput(name="address" ng-model="selected.address" 
      ng-pattern="/(^\\d+\\s[a-zA-Z]+\\s[a-zA-Z]+)$/" required md-no-asterisk)
      .errors(ng-messages="editForm.address.$error")
        div(ng-message="required") Please enter a value for this field.
        div(ng-message="pattern") Please enter a valid Address.
    #citySelect.customer-field
      div(ng-repeat="city in cities")
        button.btn.btn-city(
        ng-class="{ 'btn-outline-{{getCityColorByIndex($index)}}': true,\
        '{{ getCityColorByIndex($index) }}' : hover || cityButtonStates[$index], 'btn-city-selected' : cityButtonStates[$index] }"
        ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
        ng-click="selectCity($index, cities);") {{ city }}
  md-button.button-back.md-icon-button.md-accent(aria-label="Back" ng-click="hideContainer()")
    i.material-icons arrow_back
